.about {
  margin: auto;
  text-align: center;
  padding: 48px 2rem;
}

.about h2 {
  font-family: "Gelasio", serif;
  color: #007ea7;
}

.content p {
  font-family: "Fira Sans", sans-serif;
  font-size: 1.25rem;
  text-align: justify;
  color: #007ea7;
}

.selfImg {
  width: 100%;
}

@media (min-width: 1024px) {
  .about {
    padding: 49px 0;
  }

  .content {
    display: flex;
    justify-content: center;
  }

  .content p {
    text-align: left;
    max-width: 580px;
  }

  .selfImg {
    width: 580px;
    height: 475px;
    object-fit: contain;
  }
}
