.about {
  margin: auto;
  text-align: center;
  padding: 48px 2rem;
}

.about h2 {
  font-family: "Gelasio", serif;
  color: #007ea7;
}

.content p {
  font-family: "Fira Sans", sans-serif;
  font-size: 1.25rem;
  text-align: left;
  color: #007ea7;
}

.selfImg {
  width: 150px;
  height: 150px;
  border: 5px solid #007ea7;
  border-radius: 100px;
  object-fit: cover;
}

@media (min-width: 1024px) {
  .about {
    padding: 49px 0;
  }

  .content {
    display: flex;
    justify-content: center;
    gap: 50px;
  }

  .content p {
    text-align: left;
    max-width: 580px;
  }

  .selfImg {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50px;
  }
}
