.footer {
  background-color: #007ea7;
  font-family: "Fira Sans", sans-serif;
  font-size: 1rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #fff;
}
