a {
  color: #fff;
  text-decoration: none;
}

a.active {
  text-decoration: underline;
}

.headerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.25rem 1rem;
}

.home {
  font-family: "Meddon", cursive;
  color: #ffffff;
  font-size: 2.5rem;
}

.navLinks {
  display: none;
}

.contactContainer > a {
  font-family: "Fira Sans", sans-serif;
  padding: 0.5rem 1rem;
  border: 2px solid #003249;
  background-color: #003249;
  border-radius: 5px;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2;
  color: inherit;
  text-decoration: none;
}

.contactContainer > a:hover {
  background-color: transparent;
  cursor: pointer;
  color: #ffffff;
}

@media (min-width: 1024px) {
  .navLinks {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .navLinks > a {
    font-family: "Fira Sans", sans-serif;
    text-transform: uppercase;
    color: #ccdbdc;
  }

  .navLinks > a:hover {
    scale: 1.1;
    transition: scale 0.2s ease-in-out;
  }
}
