a {
  text-decoration: none;
}

a.active {
  text-decoration: underline;
}

li {
  list-style: none;
}

.headerNav {
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.25rem 1rem;
}

.home {
  font-family: "Meddon", cursive;
  color: #ffffff;
  font-size: 2.5rem;
}

.navMenu {
  position: fixed;
  padding-top: 2rem;
  top: 0;
  left: 0;
  margin: 0;
  display: flex;
  align-items: start;
  gap: 1rem;
  font-size: 1.5rem;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.9);
  color: #003249;
  width: 100%;
  height: 100vh;
}

.navMenu a {
  color: #003249;
  font-family: "Fira Sans", sans-serif;
}

.navLinks {
  display: none;
}

.contactContainer > a {
  font-family: "Fira Sans", sans-serif;
  padding: 0.5rem 1rem;
  border: 2px solid #003249;
  background-color: #003249;
  border-radius: 5px;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2;
  color: #ccdbdc;
  text-decoration: none;
}

.contactContainer > a:hover {
  background-color: transparent;
  cursor: pointer;
  color: #ffffff;
}

.hamburgerMenuBtn {
  position: absolute;
  top: 0.75rem;
  right: 1.5rem;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 50px;
  width: fit-content;
  cursor: pointer;
}

#top,
#mid,
#bot {
  height: 5px;
  width: 25px;
  background: white;
}

.active {
  #top {
    animation: move-down-turn 0.5s forwards;
  }
  #mid {
    animation: shrink-disappear 0.5s forwards;
  }
  #bot {
    animation: move-up-turn 0.5s forwards;
  }
}

@media (min-width: 768px) {
  .navLinks {
    display: flex;
    position: static;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  .navLinks a {
    font-family: "Fira Sans", sans-serif;
    text-transform: uppercase;
    color: #ccdbdc;
  }

  .navLinks a:hover {
    scale: 1.1;
    transition: scale 0.2s ease-in-out;
  }

  .hamburgerMenuBtn {
    display: none;
  }
}

@media (min-width: 1024px) {
}

@keyframes move-down-turn {
  0% {
    transform: translateY(0) rotate(0);
    background-color: inherit;
  }

  50% {
    transform: translateY(200%) rotate(0);
    background-color: inherit;
  }

  100% {
    transform: translateY(200%) rotate(45deg);
    background-color: black;
  }
}

@keyframes revert-move-down-turn {
}

@keyframes move-up-turn {
  0% {
    transform: translateY(0) rotate(0);
    background-color: inherit;
  }

  50% {
    transform: translateY(-200%) rotate(0);
    background-color: inherit;
  }

  100% {
    transform: translateY(-200%) rotate(-45deg);
    background-color: black;
  }
}

@keyframes revert-move-up-turn {
  0% {
    transform: translateY(0) rotate(0);
    background-color: inherit;
  }

  50% {
    transform: translateY(-200%) rotate(0);
    background-color: inherit;
  }

  100% {
    transform: translateY(-200%) rotate(-45deg);
    background-color: #ffffff;
  }
}

@keyframes shrink-disappear {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0);
  }
}

@keyframes revert-shrink-disappear {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes colorChange {
  from {
    color: inherit;
  }
  to {
    color: black;
  }
}
